:root {
--primary-text-color: #434455;
--section-title-color: #2E2F42;
--accent-color: #4D5AE5;
--primary-white-color: #fff;
--footer-text-color: #e7e9fc;
--light-logo-color: #F4F4FD;
--button-nav-color: #404BBF;
--icon-customers-color: #8E8F99;
--icon-footer-socials-color: rgba(255, 255, 255, 0.1);
--modal-white-color: #FCFCFC;
--backdrop-color: rgba(46, 47, 66, 0.4);
}

         
body {
   background-color: var(--primary-white-color);
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   font-size: 16px;
}
/*          ---- -----components----- */
.container {
   max-width: 428px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

@media screen and (min-width: 768px) {
   .container {
      max-width: 768px;
   }
}

@media screen and (min-width: 1200px) {
   .container {
      max-width: 1158px;
   }



/*               ----- utils------ */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
/*                ----reset--------- */
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: 0;
}

ul {
   list-style: none;
   padding-left: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.svg {
   color: currentColor;
}

.link {
   text-decoration: none;
}


/* sections */

.section {
   padding: 96px 0;
}

@media screen and (min-width: 1200px) {
   .section {
      padding: 120px 0;
   }
}

.section-title {
   margin-bottom: 72px;

   color: var(--section-title-color);
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
}

.section-sub-title {
   margin-bottom: 8px;

   color: var(--section-title-color);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.section-text {
   letter-spacing: 0.02em;
   line-height: 1.5;
   color: var(--);
}

/*--------------- header------------------------- */

@media screen and (min-width: 768px) {
   .header-container {
      display: flex;
      align-items: center;
   }
}

.header {
   border-bottom: 1px solid var(--footer-text-color);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ------------navigation------------ */

.logo {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
   letter-spacing: 0.03em;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
}

.black-logo {
   color: var(--section-title-color);
}

.wight-logo {
   color: var(--light-logo-color);
}

.main-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@media screen and (min-width: 768px) {
   .main-nav {
      gap: 120px;
      margin-right: auto;
   }
}

@media screen and (min-width: 1200px) {
   .main-nav {
      gap: 76px;
   }
}

.menu-hamburger {
   cursor: pointer;
   background-color: var(--primary-white-color);
   padding: 24px 0;
   border: 0;
}

@media screen and (min-width: 768px) {
   .menu-hamburger {
      display: none;
   }
}

.icon-menu-hamburger {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 32px;
   height: 22px;
   stroke: #2e2f42;
   
}
/* .icon-menu-hamburger {
   display: inline-block;
   width: 1em;
   height: 1em;
   stroke-width: 0;
   stroke: currentColor;
   fill: #2E2F42;
} */
.site-nav {
   display: none;
}

@media screen and (min-width: 768px) {
   .site-nav {
      display: flex;
      gap: 40px;
   }
}

@media screen and (min-width: 1200px) {
   .site-nav {
      display: flex;
      gap: 40px;
   }
}

.nav-link {
   color: var(--section-title-color);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;

   display: block;
   padding-top: 24px;
   padding-bottom: 24px;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
   color: var(--button-nav-color);
}

.current-link {
   color: color: var(--button-nav-color);
}

.current {
   position: relative;
}

.current::after {
   position: absolute;
   content: '';
   bottom: -1px;
   display: block;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--button-nav-color);
}

/*----------------- addres-------------------- */

.address {
   display: none;
}

@media screen and (min-width: 768px) {
   .address {
      display: flex;
      gap: 4px;
      flex-direction: column;
   }
}

@media screen and (min-width: 1200px) {
   .address {
      gap: 40px;
      flex-direction: row;
   }
}

.address-link {
   color: color: var(--primary-text-color);
   font-style: normal;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;

   display: block;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
   color: var(--button-nav-color);
}

@media screen and (min-width: 1200px) {
   .address-link {
      font-size: 16px;
      padding-top: 24px;
      padding-bottom: 24px;
   }
}

/*------------ mobile-menu-------------------------- */

@media screen and (max-width: 767px) {
   .mobile-menu {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px;
      padding-top: 80px;
      background-color: #ffffff;
      z-index: 1;

      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
   }

   .mobile-menu.is-open {
      transform: translateX(0);
   }

   .mobile-modal-close {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--footer-text-color);
      border: 1px solid rgba(0, 0, 0, 0.1);

      position: absolute;
      top: 40px;
      right: 40px;

      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .mobile-modal-close:hover,
   .mobile-modal-close:focus {
      fill: var(--primary-white-color);
      background-color: var(--button-nav-color);
   }

   .mobile-close-icon {
      height: 8px;
      width: 8px;
   }

   /*-------------------- mobile-nav-------------------------- */

   .mobile-menu-items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .mobile-site-nav {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }

   .mobile-nav-link {
      color: var(--titel-text-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      display: block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .mobile-nav-link:hover,
   .mobile-nav-link:focus {
      color: var(--nav-hover-caolor);
   }

   /*---------------- mobile-addres-------------- */

   .mobile-address {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-bottom: 48px;
   }

   .mobile-address-link {
      font-style: normal;
      display: block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .mobile-address-link:hover,
   .mobile-address-link:focus {
      color: var(--button-nav-color);
   }

   .mob-tel {
      font-weight: 600;
      font-size: 36px;
      line-height: 1.11;
      text-transform: capitalize;
      color: var(--accent-color);
   }

   @media screen and (max-width: 427px) {
      .mob-tel {
         font-size: 25px;
      }
   }

   .mob-mail {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
   }

   /*---------- mobile-social------------------- */

   .mobile-socials-list {
      display: flex;
      flex-wrap: wrap;
      gap: 56px;
   }

   @media screen and (max-width: 427px) {
      .mobile-socials-list {
         gap: 20px;
      }
   }

   .mobile-socials-item {
      width: 40px;
      height: 40px;
   }

   .mobile-socials-link {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--accent-color);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .mobile-socials-icon {
      width: 16px;
      height: 16px;
      fill: var(--light-logo-color);
   }

   .mobile-socials-link:hover,
   .mobile-socials-link:focus {
      background-color: var(--button-nav-color);
   }
}

@media screen and (min-width: 768px) {
   .mobile-menu {
      display: none;
   }
}

/* ------------------------------hero --------------------------------------*/

.hero {
   background-image: linear-gradient(to top,
         rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg/hero-bg-mob1x.jpg);

   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   background-size: cover;
   background-color: var(--section-title-color);
   padding: 112px 0;
   max-width: 1440px;
   margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .hero {
      background-image: linear-gradient(to top,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url(../images/hero-bg/hero-bg-mob2x@2x.jpg);
   }
}

@media screen and (min-width: 768px) {
   .hero {
      background-image: linear-gradient(to top,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url(../images/hero-bg/hero-bg-tab1x.jpg);

      padding-bottom: 108px;
   }

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(to top,
               rgba(46, 47, 66, 0.7),
               rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg/hero-bg-tab1x@2x.jpg);
      }
   }
}

@media screen and (min-width: 1200px) {
   .hero {
      background-image: linear-gradient(to top,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url(../images/hero-bg/hero-bg-desc1x.jpg);

      padding: 188px 0;
   }

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(to top,
               rgba(46, 47, 66, 0.7),
               rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg/hero-bg-desc2x@2x.jpg);
      }
   }
}

.hero-title {
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;

   color: var(--primary-white-color);
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
   .hero-title {
      max-width: 500px;
      font-size: 56px;
      line-height: 1.07;
      margin-bottom: 40px;
   }
}

@media screen and (min-width: 1200px) {
   .hero-title {
      margin-bottom: 48px;
   }
}

.order-btn {
   border-radius: 4px;
   padding: 16px 32px;
   border: 0;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   text-align: center;
   cursor: pointer;
   border-color: transparent;
   letter-spacing: 0.04em;
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
   background-color: var(--button-nav-color);
}

/*--------------- Solutions-------------------------------- */

@media screen and (min-width: 1200px) {
   .section-skills {
      /* padding: auto; */
      padding-bottom: 0;
   }
}

.skills {
   display: flex;
   flex-wrap: wrap;
   gap: 72px;
}

@media screen and (min-width: 768px) {
   .skills {
      row-gap: 72px;
      column-gap: 24px;
   }
}

@media screen and (min-width: 1200px) {
   .skills {
      gap: 24px;
   }
}

@media screen and (max-width: 767px) {
   .skills-item-titel {
      text-align: center;
   }
}

@media screen and (max-width: 1199px) {
   .skills-item-titel {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
   }
}

@media screen and (max-width: 1199px) {
   .skills-item-titel {
      font-weight: 500;
   }
}

.skills-item {
   margin: 0 auto;
}

@media screen and (min-width: 768px) {
   .skills-item {
      flex-basis: calc((100% - 24px) / 2);
   }
}

@media screen and (min-width: 1200px) {
   .skills-item {
      flex-basis: calc((100% - 72px) / 4);
   }
}
@media screen and (max-width: 1199px) {
.visually-hidden {
   display: none;
   }
}

@media screen and (max-width: 1199px) {
   .skills-svg {
      display: none;
   }
}

@media screen and (min-width: 1200px) {
   .skills-icon {
      border-radius: 4px;
      width: 100%;
      height: 112px;
      margin-bottom: 8px;
      background-color: var(--light-logo-color);
      fill: var(--titel-text-color);
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .skills-svg {
      width: 64px;
      height: 64px;
   }
}

/*----------------- are doing------------------------- */

@media screen and (max-width: 1199px) {
   .works {
      display: none;
   }
}

@media screen and (min-width: 1200px) {
   .work-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
   }

   .work-item {
      flex-basis: calc((100% - 48px) / 3);
      border: border 1px solid var(--footer-text-color);
   }
}

/* -------------------------------team------------------------------------ */

.team {
   background-color: var(--light-logo-color);
}

.team-list {
   display: flex;
   flex-wrap: wrap;
   gap: 72px;
   justify-content: center;
}

@media screen and (min-width: 768px) {
   .team-list {
      row-gap: 64px;
      column-gap: 24px;
   }
}

@media screen and (min-width: 1200px) {
   .team-list {
      gap: 24px;
   }
}

.teammate {
   flex-basis: calc(100% - 134px);
   background-color: var(--primary-white-color);
   text-align: center;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
   .teammate {
      flex-basis: calc((100% - 210px) / 2);
   }
}

@media screen and (min-width: 1200px) {
   .teammate {
      flex-basis: calc((100% - 72px) / 4);
   }
}

.teammate-name {
   padding-top: 32px;
   padding-bottom: 32px;
}

.socials-list {
   display: flex;
   justify-content: center;
   gap: 24px;
   margin-top: 8px;
   padding: 0 16px;
}

.socials-item {
   width: 40px;
   height: 40px;
}

.socials-link {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--accent-color);
   border-radius: 50%;
   width: 100%;
   height: 100%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
   background-color: var(--button-nav-color);
}

.socials-icon {
   width: 16px;
   height: 16px;
   fill: var(--light-logo-color);
}

/*------------------ customers --------------------------------*/

.customers-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 16px;
   row-gap: 72px;
}

@media screen and (min-width: 768px) {
   .customers-list {
      column-gap: 24px;
   }
}

.customers-item {
   flex-basis: calc((100% - 18px) / 2);
}

@media screen and (min-width: 768px) {
   .customers-item {
      flex-basis: calc((100% - 234px) / 3);
   }
}

@media screen and (min-width: 1200px) {
   .customers-item {
      flex-basis: calc((100% - 120px) / 6);
   }
}

.customers-link {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 88px;
   width: 100%;
   border: 1px solid var(--icon-customers-color);
   border-radius: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
   fill: var(--icon-customers-color);
   width: 104px;
   height: 56px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
   border-color: var(--button-nav-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
   fill: var(--button-nav-color);
}

/*----------------- footer ----------------------------------*/
.footer {
   background-color: var(--section-title-color);
   padding-top: 96px;
   padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
   .footer {
      padding-top: 100px;
      padding-bottom: 100px;
   }
}

.footer-content {
   display: flex;
}

@media screen and (max-width: 767px) {
   .footer-content {
      flex-direction: column;
      align-items: center;
      gap: 72px;
   }
}

@media screen and (min-width: 768px) {
   .footer-content {
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
   .footer-content {
      width: 582px;
   }
}

.footer-info {
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 1200px) {
   .footer-info {
      margin-right: 120px;
   }
}

@media screen and (max-width: 767px) {
   .ftr-logo {
      margin: 0 auto;
   }
}

.footer-text {
   margin-top: 16px;
   width: 264px;
   color: var(--footer-text-color);
   line-height: 1.5;
   letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
   .footer-social {
      text-align: center;
   }
}

.ftr-social-media {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--primary-white-color);
   margin-bottom: 16px;
}

.ftr-social-list {
   display: flex;
   justify-content: center;
   gap: 16px;
}

.ftr-social-item {
   width: 40px;
   height: 40px;
}

.ftr-social-link {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-social-icon {
   fill: var(--light-logo-color);
   height: 24px;
   width: 24px;
}

.ftr-social-link:hover,
.ftr-social-link:focus {
   background-color: #31d0aa;
}

@media screen and (max-width: 767px) {
   .ftr-form {
      text-align: center;
      width: 100%;
   }
}

@media screen and (min-width: 1200px) {
   .ftr-form {
      margin-left: auto;
   }
}

.sub-ftr-text {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--primary-white-color);

   margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
   .subscribe {
      display: flex;
      gap: 24px;
   }
}

.email {
   color: rgba(255, 255, 255, 0.6);
   background-color: var(--titel-text-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   padding: 8px 16px;
   height: 40px;
   width: 264px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
   .email {
      width: 100%;
   }
}

.email:focus {
   outline: none;
   border-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
   .submit-btn {
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
   }
}

.submit-btn {
   display: flex;
   gap: 16px;
   border-radius: 4px;
   padding: 8px 24px;
   border: 0;
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   text-align: center;
   cursor: pointer;
   border-color: transparent;
   letter-spacing: 0.04em;
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
   background-color: var(--nav-hover-caolor);
}

.footer-arrow-icon {
   height: 24px;
   width: 24px;
}

/*----------------------- portfolio---------------------- */

.portfolio {
   padding-top: 96px;
}

/*----------------------- filter ---------------------*/

.filter-btn {
   padding: 12px 24px;
   border-radius: 4px;
   border: 0;
   color: var(--accent-color);
   background-color: var(--light-logo-color);
   cursor: pointer;
   border-color: transparent;
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04em;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

   color: var(--primary-white-color);
   background-color: var(--button-nav-color);
}

.filter {
   display: flex;
   margin-bottom: 72px;
   justify-content: center;
   flex-wrap: wrap;
   gap: 24px;
}

.services {
   display: flex;
   flex-wrap: wrap;
   row-gap: 48px;
   column-gap: 24px;
}

.services-link {
   display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-link:hover,
.services-link:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.services-items {
   border: 1px solid var(--footer-text-color);
   flex-basis: calc((100% - 48px) / 3);
}

.services-text {
   padding: 32px 0 32px 16px;
}

.services-img-overlay {
   position: relative;
   overflow: hidden;
}

.services-description {
   background-color: var(--accent-color);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-description-text {
   color: var(--light-logo-color);
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-top: 40px;
   margin-left: 32px;
   margin-right: 32px;
}

.services-link:hover .services-description,
.services-link:focus .services-description {
   transform: translateY(0);
}

/* -------------------modal -----------------------*/

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal {
   position: absolute;
   width: 95%;
   min-height: 584px;
   padding: 72px 24px 24px 24px;
   background-color: #fcfcfc;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
   .modal {
      max-width: 394px;
   }
}

@media screen and (min-width: 768px) {
   .modal {
      width: 408px;
   }
}

.modal-title {
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--section-title-color);
   margin-bottom: 16px;
}

.modal-close {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   width: 24px;
   height: 24px;
   border-radius: 50%;
   background-color: var(--footer-text-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   position: absolute;
   top: 24px;
   right: 24px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
   fill: var(--);
   background-color: var(--button-nav-color);
}

.close-icon {
   height: 8px;
   width: 8px;
}

.modal-form {
   position: relative;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;
   color: var(--icon-customers-color);
}

/*-------------------- name------------------------- */

.name-form {
   margin-bottom: 8px;
}

.name-label {
   position: relative;
}

.name-input {
   display: block;
   margin-top: 4px;
   width: 100%;
   height: 40px;
   padding-left: 38px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-input:focus {
   outline: none;
   border-color: var(--accent-color);
}

.name-input:focus+.icon-person {
   fill: var(--accent-color);
}

.icon-person {
   position: absolute;
   bottom: 11px;
   left: 16px;
   height: 18px;
   width: 18px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------- phone---------------------- */

.phone-input {
   margin-bottom: 8px;
   height: 58px;
}

.phone-lable {
   position: relative;
}

.modal-phone {
   display: block;
   margin-top: 4px;
   width: 100%;
   height: 40px;
   padding-left: 38px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-phone:focus {
   outline: none;
   border-color: var(--accent-color);
}

.modal-phone:focus+.icon-phone {
   fill: var(--accent-color);
}

.icon-phone {
   position: absolute;
   bottom: 8px;
   left: 16px;
   height: 24px;
   width: 18px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------- email---------------------- */

.email-input {
   margin-bottom: 8px;
   height: 58px;
}

.email-lable {
   position: relative;
}

.modal-email {
   display: block;
   margin-top: 4px;
   width: 100%;
   height: 40px;
   padding-left: 38px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-email:focus {
   outline: none;
   border-color: var(--accent-color);
}

.modal-email:focus+.icon-email {
   fill: var(--accent-color);
}

.icon-email {
   position: absolute;
   bottom: 8px;
   left: 16px;

   height: 24px;
   width: 18px;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------comment----------------------- */

.comment-input {
   margin-bottom: 16px;
}

.comment-label {
   display: block;
}

.comment-text {
   display: block;
   width: 100%;
   height: 120px;
   resize: none;
   margin-top: 4px;
   padding: 8px 16px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus {
   outline: none;
   border-color: var(--accent-color);
}

.comment-text::placeholder {
   color: rgba(117, 117, 117, 0.5);
}

/*----------------- accept ---------------------------*/

.accept {
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;

   color: #757575;

   margin-bottom: 24px;
}

.checkbox-accept-label {
   position: relative;
   display: flex;
   align-items: center;
}

.checkbox-accept {
   appearance: none;
}

.custom-checkbox {
   margin-right: 8px;
   width: 16px;
   height: 16px;
   border: 1.25px solid #2e2f42;
   border-radius: 2px;
}

.checkbox-icon {
   width: 100%;
   height: 100%;
   opacity: 0;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-accept:checked~.custom-checkbox>.checkbox-icon {
   opacity: 1;
}

.checkbox-accept:checked~.custom-checkbox {
   border: 0;
}

/*--------------- send-btn--------------------------------- */

.send-button {
   display: block;
   padding: 16px 64px;
   margin: 0 auto;
   border: 0;

   color:var(--primary-white-color);
   background-color: var(--accent-color);
   cursor: pointer;
   border-color: transparent;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;

   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
   background-color: var(--button-nav-color);
}